
.home-container {
    padding-top: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .home-container {
            padding-top: 85vh;
        }
}

@media screen and (min-width: 1200px) {
    .home-container {
        padding-top: 83vh;
    }
}